html{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

figure{
    background-color: hsl(0, 0%, 100%);
}

figure img{
    margin-top: 1em;
    width: 20%;
}

figure figcaption p{
    padding-bottom: 1.5em;
}